---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre mí | Noelia" description="Sobre mi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mí"
				tagline="Gracias por interesarte. Continúa leyendo para saber más acerca de mi."
			>
				<img
					width="1553"
					height="873"
					src="/assets/noelia.jpg"
					alt="Imagen de Noelia"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre mí</h2>
				<div class="content">
					<p>
						Nací y crecí en Tomelloso (Ciudad Real), hace unos años me mudé a Madrid y actualmente
						resido en Aranjuez.
					</p>
					<p>
						Inicialmente comenzé estudiando Turismo pero con el tiempo ví que no era a lo que 
						me quería dedicar.
						Durante la pandemia descubrí cursos de desarrollo web y decidía emmpezar a estudiar el grado 
						superior de Desarrollo de Aplicaciones Web mientras lo compaginado con el trabajo.
					</p>		
					<p>
						Actualmente trabajo en Atención Primaria de la comunidad de Madrid, pero mi objetivo es seguir 
						formandome como desarrolladora web, principalmente en frontend pues es lo que de verdad me gusta.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<p>2024. Desarrollo de Aplicaciones Web.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>Astro</p>
					<p>Javascript</p>
					<p>HTML5</p>
					<p>CSS</p>
					<p>Bootstrap</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
